<%- include ("../partials/header"); %>

<div class="container">

    <!-- ------------------------ -->
    <!-- jumbotron: hello message -->
    <!-- ------------------------ -->
    <header class="jumbotron">
        <h1 class="display-4 jumbotron-title">Welcome To <span>TodoApp</span>!</h1>
        <a class="btn btn-md mt-1 jumbotron-add-list-btn" href="/lists/new" role="button">Create New Tasks List</a>
    </header>

    <div class="row row-cols-1 row-cols-md-3">
        <% lists.forEach(function(list){ %>
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= list.name %></h5>
                    <p class="card-text">add total number of tasks (open/complete), priority, due date...</p>
                    <a href="/lists/<%= list._id %>" class="btn btn-primary">More Info</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated: <%= list.lastUpdateDate %></small>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

</div>

<%- include ("../partials/footer"); %>