<%- include ("../partials/header"); %>

<div class="container">

    <p> <%= list.name %> </p>
    <p> <%= list.creationDate  %> </p>
    <p> size: 0 </p>

    <a class="btn btn-xs btn-warning" href="/lists/<%= list._id %>/edit">Edit</a>
    <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>

</div>

<%- include ("../partials/footer"); %>