<%- include ("../partials/header"); %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To "<%= list.name %>" List!</h1>
            <p> size: 0 </p>
            <p> lastUpdateDate: <%= list.lastUpdateDate  %> </p>

            <!-- add task / edit list / delete list buttons -->
            <div style="display: flex;">
                <a class="btn btn-primary" href="/lists/<%= list._id %>/tasks/new">Add New Task</a>
                <a class="btn btn-xs btn-warning" href="/lists/<%= list._id %>/edit">Edit List</a>
                <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete List</button>
                </form>
            </div>

        </div>
    </header>

    <% var statusOptions = 
    [ { id: "next-up", name: "Next Up" }, 
    { id: "in-progress", name: "In Progress" },               
    { id: "complete", name: "Complete" } ]; %>

    <div class="row row-cols-1 row-cols-md-3">

        <% statusOptions.forEach(function(status){ %>

        <div class="col">
            <h3><%= status.name %></h3>

            <% list.tasks.forEach(function(task){ %>
            <% if (task.status === status.name) { %>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= task.title %></h5>
                    <p class="card-text">description: <%= task.description %></p>
                    <p class="card-text">status: <%= task.status %></p>

                    <!-- edit task / delete task buttons -->
                    <div style="display: flex;">
                        <a class="btn btn-xs btn-warning"
                            href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit">Edit</a>
                        <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                            method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dua Date:</small>
                </div>
            </div>
            <% } %>
            <% }) %>
        </div>

        <% }) %>

    </div>

</div>

<%- include ("../partials/footer"); %>