<%- include ("../partials/header"); %>

<% var statusOptions = 
[ { id: "next-up", name: "Next Up" }, 
{ id: "in-progress", name: "In Progress" },               
{ id: "complete", name: "Complete" } ]; %>

<% var priorityOptions = 
[ { id: "high",    name: "High" }, 
{ id: "medium",  name: "Medium" },               
{ id: "low",     name: "Low" } ]; %>

<div class="container">

    <!-- list overview -->
    <header class="jumbotron">
        <div class="container">

            <!-- list overview: page title / list size / last update date -->
            <h1>Welcome To "<%= list.name %>" List!</h1>
            <p> size: <%= list.tasks.length %> </p>
            <p> lastUpdateDate: <%= list.lastUpdateDate  %> </p> <!-- todo: update also in tasks updates -->

            <!-- add task / edit list / delete list buttons -->
            <div style="display: flex;">
                <a class="btn btn-primary" href="/lists/<%= list._id %>/tasks/new">Add New Task</a>
                <a class="btn btn-xs btn-warning" href="/lists/<%= list._id %>/edit">Edit List</a>
                <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete List</button>
                </form>
            </div>

        </div>
    </header>

    <!-- list tasks -->
    <div class="row row-cols-1 row-cols-md-3">

        <% statusOptions.forEach(function(status){ %>

        <div class="col">

            <div class="d-flex flex-row my-2">

                <!-- title of column: "statusOptions" todo: use "p" instead of "button" -->
                <div>
                    <button type="button" class="btn btn-md status-btn-title status-btn-<%= status.id %>">
                        <%= status.name %>
                    </button>
                </div>

                <!-- num of tasks in column todo: use "p" instead of "button" -->
                <div>
                    <button type="button" class="btn btn-md status-btn-number">
                        <%= 
                        list.tasks.filter(function(task){ 
                            return task.status === status.name;
                        }).length;
                    %>
                    </button>
                </div>

                <!-- add task "+" buttom (to the specific column) -->
                <div class="ml-auto">
                    <form action="/lists/<%= list._id %>/tasks/new_task" method="POST">
                        <input type="hidden" name="status" value="<%= status.id %>">
                        <button type="submit" class="btn btn-sm status-btn-plus" data-toggle="tooltip"
                            data-placement="top" title="Create new task">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>

            </div>

            <!-- task -->
            <% list.tasks.forEach(function(task){ %>
            <% if (task.status === status.name) { %>
            <div class="card mb-4">
                <div class="card-body">

                    <h5 class="card-title">

                        <!-- edit/delete task buttons -->
                        <div class="d-flex justify-content-end float-right">

                            <!-- edit task button -->
                            <a class="btn btn-md py-0 by-0 align-top"
                                href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit" data-toggle="tooltip"
                                data-placement="bottom" title="Edit task">
                                <i class="fas fa-edit"></i>
                            </a>

                            <!-- delete task button -->
                            <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                                method="POST">
                                <button type="submit" class="btn btn-md py-0 by-0 align-top" data-toggle="tooltip"
                                    data-placement="bottom" title="Delete task">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>

                        </div>

                        <!-- task title -->
                        <div>
                            <%= task.title %>
                        </div>

                    </h5>

                    <!-- task priority -->
                    <p class="card-text my-2 px-2 priority <%= task.priority %>" data-toggle="tooltip"
                        data-placement="right" title="Priority">
                        <%= task.priority %>
                    </p>

                    <!-- task due date -->
                    <p class="card-text due-date my-2 px-1" data-toggle="tooltip" data-placement="right"
                        title="Due date">
                        <i class="far fa-calendar-alt mr-1"></i>
                        <%= task.dueDate %>
                    </p>

                </div>

            </div>
            <% } %>
            <% }) %>

        </div>
        <% }) %>
    </div>

</div>

<%- include ("../partials/footer"); %>