<%- include ("../partials/header"); %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To "<%= list.name %>" List!</h1>
            <p> size: 0 </p>
            <p> lastUpdateDate: <%= list.lastUpdateDate  %> </p>
            <p>
                <a class="btn btn-primary" href="/lists/<%= list._id %>/tasks/new">Add New Task</a>
            </p>

            <a class="btn btn-xs btn-warning" href="/lists/<%= list._id %>/edit">Edit List</a>
            <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Delete List</button>
            </form>
        </div>
    </header>

    <div class="row row-cols-1 row-cols-md-3">

        <div class="col">
            Next Up
            <% list.tasks.forEach(function(task){ %>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= task.title %> --> CLASS Next Up </h5>
                    <p class="card-text"><%= task.description %></p>
                    <a class="btn btn-xs btn-warning" href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit">Edit</a>
                    <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dua Date:</small>
                </div>
            </div>
            <% }) %>
        </div>

        <div class="col">
            In Progress
            <% list.tasks.forEach(function(task){ %>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= task.title %> --> CLASS In Progress </h5>
                    <p class="card-text"><%= task.description %></p>
                    <a class="btn btn-xs btn-warning" href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit">Edit</a>
                    <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dua Date:</small>
                </div>
            </div>
            <% }) %>
        </div>

        <div class="col">
            Complete
            <% list.tasks.forEach(function(task){ %>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= task.title %> --> CLASS Complete </h5>
                    <p class="card-text"><%= task.description %></p>
                    <a class="btn btn-xs btn-warning" href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit">Edit</a>
                    <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                        method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dua Date:</small>
                </div>
            </div>
            <% }) %>
        </div>

    </div>

</div>

<%- include ("../partials/footer"); %>