<%- include ("../partials/header"); %>

<script>
    var listId = '<%- (list._id) %>';
</script>

<% var statusOptions = 
[ { id: "next-up", name: "Next Up" }, 
{ id: "in-progress", name: "In Progress" },               
{ id: "complete", name: "Complete" } ]; %>

<% var priorityOptions = 
[ { id: "high",    name: "High" }, 
{ id: "medium",  name: "Medium" },               
{ id: "low",     name: "Low" } ]; %>

<div class="container">

    <!-- ------------- -->
    <!-- list overview -->
    <!-- ------------- -->
    <div class="row list-overview mt-3 mb-4">

        <!-- breadcrumb: list name and href to all lists -->
        <nav aria-label="breadcrumb" class="col-sm-7" id="list-overview-nav">
            <ol class="breadcrumb my-0 align-items-center">
                <li class="breadcrumb-item"> <a href="/lists"> My Lists </a> </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <p class="list-title my-0" data-editable><%= list.name %></p>
                </li>
            </ol>
        </nav>

        <div class="col-sm-5 d-flex justify-content-end align-self-center" id="list-overview-buttons">

            <!-- add task button -->
            <a class="btn btn-xs btn-primary mx-2" href="/lists/<%= list._id %>/tasks/new">New Task</a>

            <!-- delete list button -->
            <form class="delete-form" action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-dark mx-2">Delete List</button>
            </form>

        </div>

    </div>

    <!-- ----- -->
    <!-- table -->
    <!-- ----- -->
    <div class="row row-cols-1 row-cols-md-3">

        <% statusOptions.forEach(function(status){ %>

        <div class="col" id="<%= status.id %>-col">

            <!-- ---------------------------------- -->
            <!-- column header: status, number, add -->
            <!-- ---------------------------------- -->
            <div class="d-flex column-header">

                <!-- title of column: "statusOptions" -->
                <div class="mr-auto p-2">
                    <%= status.name %>
                </div>

                <!-- number of tasks in column -->
                <div class="status-<%= status.id %>-number p-2">
                    <p id="column-header-number">
                        <%= 
                        list.tasks.filter(function(task){ 
                            return task.status === status.name;
                        }).length;
                    %>
                    </p>
                </div>

                <!-- add task "+" buttom (to the specific column) -->
                <div class="p-2">
                    <form action="/lists/<%= list._id %>/tasks/new_task" method="POST">
                        <input type="hidden" name="status" value="<%= status.id %>">
                        <button type="submit" class="btn btn-sm column-header-add-task" data-toggle="tooltip"
                            data-placement="top" title="Create new task">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>

            </div>

            <!-- -------------------- -->
            <!-- column content: task -->
            <!-- -------------------- -->
            <% list.tasks.forEach(function(task){ %>
            <% if (task.status === status.name) { %>
            <div class="card mb-3 card-color-<%= task.priority %>" id="<%=task._id %>"
                data-current-status="<%= status.id %>">
                <div class="card-body">

                    <h5 class="card-title">

                        <!-- edit/delete task buttons -->
                        <div class="flex-column float-right">

                            <!-- edit task button -->
                            <a class="btn btn-md align-top pt-0 pb-2 px-0"
                                href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit" data-toggle="tooltip"
                                data-placement="left" title="Edit task">
                                <i class="fas fa-edit"></i>
                            </a>

                            <!-- delete task button -->
                            <form class="delete-form" action="/lists/<%=list._id %>/tasks/<%=task._id %>?_method=DELETE"
                                method="POST">
                                <button type="submit" class="btn btn-md pt-0 pb-2 px-0" data-toggle="tooltip"
                                    data-placement="left" title="Delete task">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>

                            <!-- change status of task button -->
                            <div data-toggle="tooltip" data-placement="left" title="Change task status">
                                <div class="dropdown ">
                                    <button class="btn btn-md pt-0 pb-2 px-0" type="button"
                                        id="change-status-dropdown-button" aria-haspopup="true" aria-expanded="false"
                                        data-toggle="dropdown">
                                        <i class="fas fa-exchange-alt"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right m-0 p-0"
                                        aria-labelledby="change-status-dropdown-button">
                                        <% statusOptions.forEach(function(selected_status){ %>
                                        <button type="submit"
                                            class="dropdown-item btn btn-sm px-1 status-btn-title status-btn-<%= selected_status.id %>"
                                            data-task-id="<%= task._id %>"
                                            data-selected-status="<%= selected_status.id %>">
                                            <%= selected_status.name %>
                                        </button>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- task title -->
                        <div class="task-title">
                            <a href="/lists/<%=list._id %>/tasks/<%=task._id %>">
                                <%= task.title %>
                            </a>
                        </div>

                    </h5>

                    <!-- task priority -->
                    <p class="card-text my-2 px-1 priority <%= task.priority %> priority-color-<%= task.priority %>"
                        data-toggle="tooltip" data-placement="right" title="Priority">
                        <%= task.priority %>
                        <% if (task.priority == "Low") { %>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <% } %>
                        <% if (task.priority == "Medium") { %>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <% } %>
                        <% if (task.priority == "High") { %>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                        <% } %>
                    </p>

                    <!-- task due date -->
                    <% if (task.dueDate != "") { %>
                    <p class="card-text due-date my-2 px-1" data-toggle="tooltip" data-placement="right"
                        title="Due date">
                        <i class="far fa-calendar-alt mr-1"></i>
                        <%= task.dueDate %>
                    </p>
                    <% } %>

                </div>

            </div>
            <% } %>
            <% }) %>

        </div>
        <% }) %>
    </div>

</div>

<%- include ("../partials/footer"); %>