<%- include ("../partials/header"); %>

<div class="container">

    <!-- ------------- -->
    <!-- list overview -->
    <!-- ------------- -->
    <div class="row list-overview task-overview mx-0 mt-3 mb-2 align-items-center">

        <!-- breadcrumb: list name and href to all lists -->
        <nav aria-label="breadcrumb" class="col-sm-9 list-overview-nav">
            <ol class="breadcrumb my-0 px-0">
                <li class="breadcrumb-item"> <a href="/lists"> My Lists </a> </li>
                <li class="breadcrumb-item"> <a href="/lists/<%= list._id %>"> <%= list.name %> </a> </li>
                <li class="breadcrumb-item active" aria-current="page"> Show Task </li>
            </ol>
        </nav>

        <div class="col-sm-3 py-2 d-flex justify-content-end list-overview-buttons">

            <!-- edit current task button -->
            <a class="btn btn-xs mx-2" href="/lists/<%=list._id %>/tasks/<%=task._id %>/edit">
                <i class="fas fa-edit pr-1"></i> Edit Task
            </a>

        </div>

    </div>

    <!-- --------------- -->
    <!-- form: show task -->
    <!-- --------------- -->
    <% var statusOptions = 
    [ { id: "next-up",     name: "Next Up" }, 
      { id: "in-progress", name: "In Progress" },               
      { id: "complete",    name: "Complete" } 
    ]; %>
    <% var priorityOptions = 
    [ { id: "low",     name: "Low" }, 
      { id: "medium",  name: "Medium" },               
      { id: "high",    name: "High" }
    ]; %>

    <div class="task-form p-3">
        <form>

            <!-- ----------------- -->
            <!-- task[title] field -->
            <!-- ----------------- -->
            <div class="form-group row form-line">
                <div class="col-sm-2 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Title:
                </div>
                <div class="col-sm-10 py-2 form-data form-task-title"> <%= task.title %> </div>
            </div>

            <!-- ------------------ -->
            <!-- task[status] field -->
            <!-- ------------------ -->
            <div class="form-group row form-line">
                <div class="col-sm-2 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Status:
                </div>
                <div class="col-sm-10 py-2 form-data"> <%= task.status %> </div>
            </div>

            <!-- -------------------- -->
            <!-- task[priority] field -->
            <!-- -------------------- -->
            <div class="form-group row form-line">
                <div class="col-sm-2 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Priority:
                </div>
                <div class="col-sm-10 py-2 form-data"> <%= task.priority %>
                    <% if (task.priority == "Low") { %>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <% } %>
                    <% if (task.priority == "Medium") { %>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <% } %>
                    <% if (task.priority == "High") { %>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <i class="fas fa-burn fire-icon-color-<%= task.priority %>"></i>
                    <% } %>
                </div>
            </div>

            <!-- ------------------- -->
            <!-- task[dueDate] field -->
            <!-- ------------------- -->
            <div class="form-group row form-line">
                <div class="col-sm-2 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Due Date:
                </div>
                <div class="col-sm-10 py-2 form-data">
                    <% if (task.dueDate != "") { %>
                    <%= task.dueDate %>
                    <% } else { %>
                    <span class="not-specified">--- Not Specified ---</span>
                    <% } %>
                </div>

            </div>

            <!-- ----------------------- -->
            <!-- task[description] field -->
            <!-- ----------------------- -->
            <div class="form-group row form-line">
                <div class="col-sm-2 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Description:
                </div>
                <div class="col-sm-10 py-2 form-data form-text">
                    <% if (task.description != "") { %>
                    <div class="form-text-pre"><%= task.description %> </div>
                    <% } else { %>
                    <span class="not-specified">--- Not Specified ---</span>
                    <% } %></div>
            </div>

        </form>
    </div>

</div>

<%- include ("../partials/footer"); %>